form {
    margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    color: var(--main-color);
  }

  .input-text {
    background: inherit;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #9f9a9a;
    text-align: start;
    padding: 8px 32px;
    border: 1px solid #000;
    outline: none;
    border-radius: 10px;
  }

  .input-submit {
    padding: 12px 42px;
    width: 20%;
    cursor: pointer;

    border-radius: 10px;
    border: none;
    background: #0f85f6;
    color: white;
  }
}
